
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
desktopApp/packaging/linux-signing.local.properties
desktopApp/packaging/linux-signing-key.asc
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
/com/
shared/src/commonMain/composeResources/files/aboutlibraries.json
/desktopApp/resources/windows-x64/*.dll
/desktopApp/resources/linux-x64/*.so
hs_err_pid*.log
replay_pid*.log
core.*
